*{
  margin 0;
  padding 0;
}
body{
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: black;
  margin: 0;
  padding: 0;
}
.nav{
  float:right;
  list-style: none;
  margin-top: 50px;
  margin-right: 20px;
  transition: 4s;
}
.nav li{
  display: inline-block;
  margin-left: 20px;
}
.nav li a{
  color: white;
  text-decoration: none;
  font-size:90%;
  font-weight: bold;
}
.nav li a:hover{
  color:rgb(43, 9, 87);
  border-bottom: 2px solid rgb(43,9,87);
  transition: all 0.5s ease-in;
  padding: 5px;
}
#signature{
  height: auto;
  float: left;
  margin-top: 40px;
  width: 200px;
  padding-left: 20px;
}
header {
   height: 100vh;
   width:100vw;
   background-color: gold;
   background-repeat: no-repeat;
   background-size: cover;
   }
.wordlist{
  list-style: none;
}
h3{
  padding-left: 20px;
}
.resumeinfo ul{
  list-style: none;
}
#openStatement {
    text-align: center;
    position: absolute;
    top: 80vh;
    color: black;
    font-size: 4vw;
    padding-left: 20vw;
    padding-right: 20vw;
}
#adj{
  color:rgb(43,9,87);
}
#portrait{
  width: 100%;
  height: 50vh;
}
.wrapper{
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  font-size: 2.5vw;
}
.info{
  opacity: 0;
  transition: 2s;
  padding-top:  10vh;
}
.info.show{
  opacity: 1;
}
.footer{
  height: 100vh;
}
h2{
  color: white;
}
h1{
  padding-left: 1vw;
}
.rowright{
  padding-left: 25vw;
  padding-top: 12vh;

}
#highschool{
padding-top:5vh;
}
h5{
  font-size: 1.5vw;
}
@media only screen and (min-width:480px){

}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:1140px){

}
